@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*,::after,::before {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}




fieldset {
  width:200px;
  padding:10px;
}